<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Injustice World</title>

    

  </head>
   
    
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Injustice World</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <% if user_signed_in? %>
            
            <li class="nav-item">
               <%= link_to " liste des posts" , posts_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Nouveau post" , new_post_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " contact" , new_contact_path , class: "nav-link"%></li>
            <li class="nav-item">
              <%= link_to " Se déconnecter ", destroy_user_session_path, method: :delete ,class: "nav-link" %>
            </li>
            <%else%>
            <li class="nav-item">
              <%= link_to " Se connecter " , new_user_session_path , class: "nav-link"%></li>
            
            
            <li class="nav-item">
              <%= link_to " S'enregistrer " , new_user_registration_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " liste des posts" , posts_path , class: "nav-link"%></li>
           
            <li class="nav-item">
              <%= link_to " contact" , new_contact_path , class: "nav-link"%></li>
            
            <%end%>

          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/edit1.png')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Profil</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
   <div id= "post-injust">
  


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2 style="color:#1c7d98">modifier profil</h2><br>
    <h5 style="color:#fff">Pseudo : <%= @user.username %></h5>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
    <% end %>

                  
                  <%= f.input :city,label: 'Ville' 
                  %>
    <%= f.input :password,
                hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                required: true,
                input_html: { autocomplete: "current-password" } %>
  

  <div class="form-actions">
    <%= f.button :submit, t(".update") %>
  </div>
  


<%= link_to t("devise.shared.links.back"), :back %><br><br>
<p><%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>
<% end %>
</div>
</div>



</body>


