<h2><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,label: 'Prenom' 
                %>
    <%= f.input :last_name,label: 'Nom' 
                  %>
    <%= f.input :username,label: 'pseudo' 
                  %>
                  <%= f.input :city,label: 'Ville' 
                  %>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "mail" }%>

    <%= f.input :password,
                required: true,
                hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

                <%= recaptcha_tags %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
