 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Injustice World</title>

    

  </head>
   
    
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Injustice World</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <% if user_signed_in? %>
            
            <li class="nav-item">
               <%= link_to " liste des posts" , posts_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Nouveau post" , new_post_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <%= link_to " Se déconnecter ", destroy_user_session_path, method: :delete ,class: "nav-link" %>
            </li>
            <%else%>
            <li class="nav-item">
              <%= link_to " Se connecter " , new_user_session_path , class: "nav-link"%></li>
            
            
            <li class="nav-item">
              <%= link_to " S'enregistrer " , new_user_registration_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " liste des posts" , posts_path , class: "nav-link"%></li>
           
            <li class="nav-item">
              <%= link_to " contact" , new_contact_path , class: "nav-link"%></li>
            
            <%end%>

          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/email.png')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Inscription</h1>
              <span class="subheading">gratuite</span>
            </div>
          </div>
        </div>
      </div>
    </header>
   
    

  
  <div id= "post-injust">
  


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"><br>
    <h2 style="color:#1c7d98">inscription</h3><br>
    <%= f.input :first_name,label: 'Prenom' 
                %>
    <%= f.input :last_name,label: 'Nom' 
                  %>
    <%= f.input :username,label: 'pseudo' 
                  %>
                  <%= f.input :city,label: 'Ville' 
                  %>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "mail" }%>

    <%= f.input :password,
                required: true,
                hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

                <%= recaptcha_tags theme: 'dark' %>
  

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up") %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</div>

  
</div>


</body>



