<!DOCTYPE HTML>
<!--
    Landed by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

       
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>


    </head>
    <body >

             
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Justice Fantôme</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
           
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          
            <% if user_signed_in? && current_user.admin? %>
              <li class="nav-item">
              <%= link_to " dashboard" , admins_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Se déconnecter ", destroy_user_session_path, method: :delete ,class: "nav-link" %></li>
              
            <% elsif user_signed_in? %>
           
            <li class="nav-item">
               <%= link_to " Liste des injustices" , posts_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Nouvelle injustice" , new_post_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Contact" , new_contact_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Se déconnecter ", destroy_user_session_path, method: :delete ,class: "button primary",style: 'padding-bottom:10px;display:flex;align-items:center;'  %></li>

            
            <%else%>
            
            <li class="nav-item">
              <%= link_to " Liste des injustices" , posts_path , class: "nav-link"%></li>
            
            <li class="nav-item">
              <%= link_to " Contact" , new_contact_path , class: "nav-link"%></li>
              <li class="nav-item">
              <%= link_to " Se connecter " , new_user_session_path , class: "nav-link"%></li>
            
            
             <li class="nav-item", style = "text-align:center;">
              <%= link_to " S'inscrire gratuitement ",new_user_registration_path ,class: "button primary",style: 'padding-bottom:10px;display:flex;align-items:center;' %></li>
           
            <%end%>

          </ul>
        </div>
      </div>
    </nav>
               
            

            <!-- Banner -->
<section id="banner">                   
    <div class="content">
        <div id="mess">
            <% if user_signed_in? %>
                <h3 style="color:#B9E2DD">Bienvenue <%= @user.username%></h3>
            <%end%>
        </div>
        <header>
            <h1 style="color:#e1ddd6">The future is justice</h1>
                <p>Dénoncez toutes vos injustices<br />ici<br><br><h3><i><strong># Justicefantome</strong></i></p>
        </header>
        <span class="image"><img src="/assets/nojustice.jpeg" alt="" /></span>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

            <!-- One -->
                <section id="one" class="spotlight style1 bottom">
                    <span class="image fit main"><img src="assets/corrupt1.png" alt="none"  /></span>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-4 col-12-medium">
                                    <header><br><br>
                                        <h3 style="color:#efaaaa;hyphens: auto;-webkit-hyphens:manual">En France trop d'inéga&shy;lités et trop de discrimi&shy;nations existent</h3><br>
                                        <p>la discrimination est interdite par la loi et sanctionnée</p>
                                    </header>
                                </div>
                                <div class="col-4 col-12-medium">
                                    <p style= "color:#d9dae0">La discrimination désigne le fait de distinguer et de traiter de manière différente une personne ou un groupe d’individus par rapport au reste de la société et ce, sur la base de certains critères ou signes distinctifs. Les motifs de discrimination sont nombreux et ne sont pas toujours visibles : <strong> la couleur de peau </strong> (racisme), <strong> le sexe </strong> (sexisme), <strong> la religion </strong>(antisémitisme, islamophobie), <strong> la sexualité ou l’identité sexuelle </strong> (homophobie), <strong> l’âge </strong> , <strong>l’origine</strong> (xénophobie), <strong> le handicap </strong>, <strong>l’apparence physique </strong>, etc...</p>
                                </div>
                                <div class="col-4 col-12-medium">
                                    <p style= "color:#d9dae0">Lorsqu’un individu est traité de manière défavorable dans des situations précises telles que l’accès à l’emploi, au logement, à l’éducation ou la fourniture de biens et de services.<br>Dans le pire des cas, la discrimination se traduit par des violences pouvant parfois entraîner la mort. Elle peut aussi se manifester par des injures ou des remarques désobligeantes. Mais elle peut aussi être exprimée de façon moins explicite et plutôt insidieuse.<strong>  La discrimination EST INTERDITE </strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#three" class="goto-next scrolly">Next</a>
                </section>

            <!-- Two -->
                <section id="two" class="spotlight style2 right">
                    <span class="image fit main2"><img src="/assets/egalite4.png" alt="" /></span>
                    <div class="content">
                        <header><br><br><br>
                            <h2 style="color:#efaaaa">Vous êtes témoins ou victimes ?</h2><br>
                            <p></p>
                        </header>
                        <p style= "color:#d9dae0">Vous avez le sentiment que la justice vous abandonne?Sur Justicefantome.fr parlez-en, en tout <strong>anonymat</strong>. Il n'est jamais trop tard pour réagir</p>
                        <ul class="actions">
                            <li><a href="/users/sign_up" class="button">Inscrivez-vous gratuitement</a></li>
                        </ul>
                    </div>
                    <a href="#four" class="goto-next scrolly">Next</a>
                </section>

            <!-- Three -->
                <section id="three" class="spotlight style3 left">
                    <span class="image fit main3 bottom"><img src="/assets/democrat2.jpg" alt="" /></span>
                    <div class="content">
                        <header><br><br><br>
                            <h2 style="color:#efaaaa"> N'oubliez pas que personne n'est intouchable </h2><br>
                            <p></p>
                        </header>
                        <p style= "color:#d9dae0">Un commerce, les forces de l'ordre, les magistrats, votre employeur.<strong> L'abus de pouvoir et les injustices</strong> se situent n'importe où <strong>,dénoncez les </strong>tout comme les autres membres</p>
                        <ul class="actions">
                            <li><a href= "posts" class="button">Voir les dernières injustices</a></span></li>
                        </ul>
                    </div>
                    <a href="#four" class="goto-next scrolly">Next</a>
                </section>

            <!-- Four -->
                <section id="four" class="wrapper style1 special fade-up">
                    <div class="container">
                        <header class="major"><br>
                            <h2>Les valeurs fondamentales de la communauté sur Justicefantome.fr</h2>
                            <p></p>
                        </header>
                        <div class="box alt">
                            <div class="row gtr-uniform">
                                <section class="col-4 col-6-medium col-12-xsmall">
                                    <span class="fas fa-hand-holding-heart"></span>
                                    <h4>Respect</h4>
                                    <p></p>
                                </section>
                                <section class="col-4 col-6-medium col-12-xsmall">
                                    <span class="fas fa-handshake"></span>
                                    <h4>Solidarité</h4>
                                    <p></p>
                                </section>
                                <section class="col-4 col-6-medium col-12-xsmall">
                                    <span class="fas fa-yin-yang"></span>
                                    <h4>Empathie</h4>
                                    <p></p>
                                </section>
                                <section class="col-4 col-6-medium col-12-xsmall">
                                    <span class="fas fa-dove"></span>
                                    <h4>Liberté</h4>
                                    <p></p>
                                </section>
                                <section class="col-4 col-6-medium col-12-xsmall">
                                    <span class="fas fa-globe"></span>
                                    <h4>Tolérance</h4>
                                    <p></p>
                                </section>
                                
                               
                            </div>
                        </div></div></section>
                        <!--<footer class="major">
                            <ul class="actions special">
                                <li><a href="/users/sign_up" class="button">S'inscrire maintenant</a></li>
                            </ul>
                        </footer>
                    </div>
                </section>-->

            <!-- Five -->
                <!--<section id="five" class="wrapper style2 special fade">
                    <div class="container">
                        <header>
                            <h2>Magna faucibus lorem diam</h2>
                            <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
                        </header>
                        <form method="post" action="#" class="cta">
                            <div class="row gtr-uniform gtr-50">
                                <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                                <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
                            </div>
                        </form>
                    </div>
                </section> -->

            <!-- Footer -->
                <footer id="footer">
            <div class = "countin" > 
            <div class="footer-title-box">          
      <div class="counter" style="color: #ccc" data-count="<%= @users.count%>"></div>
     <div class="counter" style="color: #ccc" data-count="<%=@posts.count%>"></div>
      <div class="counter" style="color: #ccc" data-count="<%=@comments.count%>"></div> </div>
      <div class="footer-row-box">
      <div class = "namecount" style="color: #ccc">membres</div>
 <div class = "namecount" style="color: #ccc">injustices</div>
<div class = "namecount" style="color: #ccc">commentaires</div></div>
  </div><br><br>
                    <h3 style="color:#e1ddd6">Partagez vos injustices sur les réseaux sociaux avec le # Justicefantome</h3><br><br>
                    <ul class="icons">
                        <li><a href="https://twitter.com/" class="fab fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://fr-fr.facebook.com" class="fab fa-facebook"><span class="label">Facebook</span></a></li>
                        <!--<li><a href="#" class="fab fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
                       <!-- <li><a href="#" class="fab fa-instagram"><span class="label">Instagram</span></a></li>
                        <!--<li><a href="#" class="fab fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="fa fa-envelope"><span class="label">Email</span></a></li> -->
                    </ul>
                    <ul class="copyright">
                        <li><a href = "home/cgu"> Conditions générales d'utilisation</a></li><li>&copy; JusticeFantome.fr All rights reserved.</li><li>Design: HTML5 UP</li>
                    </ul>
                </footer>

        </div>

        

    </body>
<script>
       $('.counter').each(function() {
  var $this = $(this),
      countTo = $this.attr('data-count');
  
  $({ countNum: $this.text()}).animate({
    countNum: countTo
  },

  {

    duration: 6000,
    easing:'linear',
    step: function() {
      $this.text(Math.floor(this.countNum));
    },
    complete: function() {
      $this.text(this.countNum);
      //alert('finished');
    }

  });  
  
  

});
    </script>
</html>