<!DOCTYPE html>
<html lang="fr">
  <head>
   <title>
  <%= content_for?(:title)? yield(:title) : "JusticeFantome.fr,le site anti-injustices - Justice Fantome" %>
</title>


<meta name="description" content="Quand la justice est absente,dénoncez la.La discrimination est interdite par la loi et sanctionnée, malheureusement en France trop d'inégalités et trop de discriminations existent encore."/>
<meta name="keywords" content="justice, fantome, justicefantome, injustice, injustices, injuste"/>

<meta property="og:title" content="JusticeFantome.fr,le site anti-injustices - Justice Fantome"/>
<meta property="og:type" content="site web"/>
<meta property="og:url" content="www.justicefantome.fr"/>
<meta property="og:image" content="/app/assets/images/nojustice.jpeg"/>
<meta property="og:description" content="Quand la justice est absente,dénoncez la"/>
<meta property="og:site_name" content="JusticeFantome.fr"/>


<meta name="twitter:card" content="summary_large_image"/>

<meta name="twitter:title" content="JusticeFantome.fr,le site anti-injustices - Justice Fantome"/>
<meta name="twitter:description" content="Quand la justice est absente,dénoncez la"/>
<meta name="twitter:image:src" content="nojustice.jpeg"/>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link rel="canonical" href="https://www.justicefantome.fr" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  
  

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
        "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
      
    }
  },
  "theme": "edgeless",
  "position": "bottom-right",
  "type": "opt-out",
  "content": {
    "message": "Pour votre confort ce site utilise des cookies",
    "dismiss": "J'ai compris",
    "allow": "accepter",
    "deny": "refuser",
    "link": "en savoir plus",
    "href": "home/cgu"
  }
  
})});
</script>
  </head>

   
<body>
  <header>
 
     <% if flash[:notice] %>
  <div class="alert alert-info" style="width:40%,position:relative">
    <%= flash[:notice] %>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger" style="width:40%,position:relative">
    <%= flash[:alert] %>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
  </div>
  <% end %>
  <% if flash[:recaptcha_error] %>
  <div class="alert alert-danger" style="width:40%,position:relative">
    <%= flash[:recaptcha_error] = "Erreur reCaptcha" %>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
  </div>
<% end %>
      
</header>
 


<%= yield%>

 
   
   

  </body>
  <!-- Footer -->
   
 <script type="text/javascript">

    setTimeout("$('.alert').fadeOut('slow')", 3000)
  </script>

  
</html>
